/*large desktops and laptops */
@media (max-width: 1229.98px) {
.services__content img{
width: 85%;
}
.services__content::after {
width: 85%;
}
.content__wrap{
width: 85%;
}
.wrap__icon{
width: 85px;
height: 85px;
}
.wrap__text{
padding: 0 5% 0 0;
line-height: 100%;
}
}
/* medium desktops */
@media (max-width: 1199.98px) {
.content-block {
padding: 15px 40px 15px 0;
}
.media-block {
padding: 30px 0 30px 30px;
}
}
/* small desktops */
@media screen and (max-width: 991.98px) {
/* SERVICES */
.wrap__icon{
width: 65px;
height: 65px;
}
.wrap__text{
left: 6%;
bottom: 3%;
padding: 0 2% 0 0;
font-size: 15px;
letter-spacing: 0.13em;
}
.services__title {
font-size: 18px;
line-height: 100%;
letter-spacing: 0.13em;
}
/* ABOUT */
.about__wrapper {
flex-direction: column;
padding: 50px 15px;
gap: 30px;
}
.about__block {
flex: 1 1 100%;
}
.content-block{
padding: 0;
align-items: center;
} 
.media-block{
display: flex;
padding: 0;
justify-content: center;
}
/* FAST */
.fast {
padding: 50px 20px 20px 20px;
}
.fast__title {
font-size: 100px;
line-height: 100%;
}
.fast__subtitle {
font-size: 35px;
margin: 30px 0;
}
/* CONTACT */
.contact{
padding: 50px 0;
}
.contact__title{
text-align: center;
}
.contact__form {
margin: 0 auto;
max-width: 70%;
}
/* FOOTER */
.footer__wrapper {
min-height: 75px;
}
}

@media (max-width: 767.98px) {
/* HEADER */
.menu__body{
display: none;
}
.menu__burger{
display: block;
position: relative;
margin: 0 auto;
top: 0;
right: 5%;
}
/*dropdown menu */
.menu__body{
position: fixed;
top: 110px;
left: 0;
width: 100%;
height: 100%;
padding: 30px 15px;
justify-content: center;
transition: left 0.3s ease 0s;
margin: -110px 0 0 0;
background: url(../img/intro__road.jpg);
background-size: cover;
overflow: auto;
}
.menu__list{
flex-direction: column;
justify-content: center;
align-items: center;
}
.menu__item{
margin: 0 0 25px 0;
padding: 0;
}
.menu__item:first-child{
padding: 0;
}
.menu__link{
font-size: 20px;
}
/* INTRO */
.intro__content {
align-items: center;
padding: 230px 0 45px 0;
}
.intro__title h1{
padding: 0;
text-align: center;
}
.intro__contact {
flex-direction: column;
gap: 20px;
transform: translateY(0%);
padding: 0 0 20px 0;
}
.contact__item {
flex: 1 1 100%;
align-items: center;
padding: 20px 20px 20px 15px;
}
/* SERVICES */
.services__wrapper {
padding: 50px 15px;
}
.services__text {
align-items: center;
}
.services__options {
flex-direction: column;
gap: 20px;
}
.services__block {
flex: 1 1 100%;
}
.services__content img{
width: 100%;
}
.services__content::after {
width: 100%;
}
.content__wrap{
width: 100%;
}
.wrap__icon{
width: 100px;
height: 100px;
}
.wrap__text{
padding: 0 10% 0 0;
line-height: 120%;
left: 8.82%;
bottom: 6%;
font-size: 18px;
letter-spacing: 0.23em;
}
.services__title {
font-size: 20px;
letter-spacing: 0.23em;
}
/* FAST */
.fast__title {
font-size: 72px;
}
.fast__subtitle {
font-size: 25px;
}
.work-process__block{
flex-direction: column;
gap: 20px;
}
.block__item{
flex: 1 1 100%;
}
/* CONTACT */
.form__row {
margin: 0 -10px;
flex-direction: column;
}
.form__group {
padding: 0 10px;
}
/* FOOTER */
.footer__wrapper {
flex-direction: column;
justify-content: center;
}
.footer__copyright {
text-align: center;
padding: 15px 0;
}
.footer__social-media{
padding: 0 0 15px 0;
}
}
/* mobile */
@media screen and (max-width: 480.98px) {
/* HEADER */
.header__logo{
flex: 1 1 auto;
justify-content: center;
}
.header__logo img{
width: 50%;
}
.header__menu{
flex: 1 1 auto;
}
.header__lang{
flex: 1 1 auto;
justify-content: flex-end;
}
a.lang__link{
font-size: 14px;
}
/* INTRO */
.intro__title h1{
font-size: 28px;
font-weight: 500;
line-height: 100%;
}
.button {
padding: 10px 30px;
}
.button span{
font-size: 14px;
font-weight: 400;
}
.info__img {
margin: 0 0 10px 0;
}
.info__title {
font-size: 14px;
letter-spacing: 0.1em;
}
.info__text {
font-size: 14px;
}
.services__main-title{
font-size: 24px;
letter-spacing: 0.15em;
text-transform: uppercase;
line-height: 150%;
}
/* ABOUT */
.block__title {
font-weight: 500;
font-size: 25px;
line-height: 100%;
letter-spacing: 0.1em;
}
/* FAST */
.fast__title {
font-size: 45px;
}
.fast__subtitle {
font-size: 18px;
}
/* CONTACT */
.contact__title {
font-size: 25px;
}
.form-button{
font-size: 16px;
}
}
/* small mobile */
@media (max-width: 320.98px){
.contact__item {
padding: 10px;
}
/* INTRO */
.intro__content {
padding: 170px 0 45px 0;
}
.intro__title h1 {
font-size: 20px;
}
.button span{
font-size: 10px;
}
/* SERViCES */
.services__main-title {
font-size: 18px;
}
.services__main-link {
font-size: 12px;
}
.services__title {
	font-size: 16px;
}
/* ABOUT */
.block__title {
font-size: 18px;
}
.block__text {
	font-size: 12px;
}
a.block__link  {
	font-size: 12px;
}
/* FAST */
.fast__title {
	font-size: 35px;
}
.fast__subtitle {
	font-size: 16px;
}
.block__item {
	padding: 20px;
}
.item__title, .item__text{
	font-size: 14px;
} 
/* CONTACT */
.contact__title {
	font-size: 18px;
}
.checkbox__label p{
	font-size: 14px;
}
}